<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css" data-premailer="ignore">
      #outlook a {padding:0;}
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      .ReadMsgBody {width: 100%;}
      .ExternalClass {width:100%;}
      .backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
      table td {border-collapse: collapse;}
      .ExternalClass * {line-height: 115%;}

      @media screen and (max-width: 630px){
        *[class="container"] { width: 320px !important; padding:0px !important}
        *[class="mobile-column"] {display: block;}
        *[class="mob-column"] {float: none !important;width: 100% !important;}
        *[class="mobile-padding"] {padding-left:10px !important;padding-right:10px !important;}
        *[class="hide"] {display:none !important;}
        *[class="card"] {width:100% !important; height:auto !important;}
        *[class="mobile-column-blog"] {padding-bottom:20px;display:block;}
      }

      @media screen and (max-width: 450px){
        *[class="mobhide"] {display:none !important;}
        *[class="font-bump"] {font-size:16px !important;}
        *[class="link-bump"] {font-size:21px !important;}
        *[class="card-mob"] {width:100% !important; height:auto !important;}
      }
    </style>

    <style type="text/css">
      <%= Rails.application.assets['budget/mailer.css.scss'].to_s.html_safe %>
    </style>
  </head>
  <body>
    <table class='mobile-padding'>
      <tr>
        <td align='center' valign='top'><%= yield %></td>
      </tr>
    </table>
  </body>
</html>
