- model_class = Budget::ImportService

.page-header
  %h1= t '.title', default: [:'helpers.titles.new', 'New %{model}'], model: model_class.model_name.human.titleize

= bootstrap_form_for @import_service do |f|
  = render "form", action: "Create", f: f
