
.progress-bar {
  margin: 5px 0;
  width: 100%;
  min-width: 100%;

  td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .progress {
    background-color: #33ff00;
    height: 15px;
    box-shadow: inset 0px 0px 3px 1px #666666;

    &.major { background-color: #99ff00; }
    &.critical { background-color: #FFFF00; }
    &.severe { background-color: #ff9900; }
    &.exceeded { background-color: #FF3300; }
  }

  .progress-remaining {
    background-color: #cccccc;
    box-shadow: inset 0px 0px 3px 1px #999999;
    height: 15px;
  }
}
